@import '../../index.scss';

.navbar {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 200px;
    border-right: 1px solid $mono;
    z-index: 55;
    position: fixed;
    bottom: 0;
    left: 0;

    .ppp-logo-container {
        margin: 1.5rem 2rem;
        position: relative;
        width: 9rem;
    }

    .ppp-logo {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }




}

@media (max-width: 600px) {
    .navbar {
        display: none;
    }

}