@import '../../index.scss';

.navbar {
    box-sizing: border-box;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 74px);
    width: fit-content;
    border-right: 1px solid $mono;
    z-index: 55;
    position: sticky;
    top: 73px;
    left: 0;
    padding: 16px;
    padding-left: 0;

    .ppp-logo-container {
        position: relative;
        display: flex;
        box-sizing: border-box;
        justify-content: flex-start;
        // border: 1px solid red;
        padding: 20px 30px;
    }

    .ppp-logo {
        object-fit: contain;
        width: 170px;
    }


}

@media (max-width: 900px) {
    .navbar {
        display: none;
    }

}